#cards {
    width: 60%;
    justify-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

#scores {
    width: 60%;
    font-size: 20px;
    font-weight: bold;
}

#curr-score,
#best-score {
    text-align: right;
}